

.circle-div {
	width: 400px;
    height: 400px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
    margin: 0 auto
}

form {
	padding-top: 50px;
}