.circle-div {
    width: 400px;
    height: 400px;
    background-image: url(../css/globe.jpg);
    background-position: center;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
    margin: 0 auto
}
form {
    padding-top: 80px;
    margin: auto;
    width: 250px;
    height: 150px;
    text-align: center;
}
.panel{
    border: none;
    border-style: none;
    margin-bottom: 0px;
}
.jumbotron {
    text-align: center;
    background-color: white;
}
#dropdown-content {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
}
